.indextop {
  display: flex;
}
main {
  margin: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frontpage {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}
